body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #fa4032, #e6ba5d);
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

section {
    background: white;
    padding: 25px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

label {
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #555;
}

button {
    background: rgb(235, 90, 90);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: darkred;
}

.resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}